<div [ngClass]="{'SearchNFilter': true, 'Light-Mode': theme === 'Light-Mode', 'Dark-Mode': theme !== 'Light-Mode'}">
    <div [ngClass]="'Search'">
        <i [ngClass]="'fas fa-search'"></i>
        <input type="text" [ngClass]="{'SearchInput': true}" [(ngModel)]="searchedCountryInput" placeholder="Search for a country...">
    </div>
    <div [ngClass]="{'DropDown': true, 'Light-Mode': theme === 'Light-Mode', 'Dark-Mode': theme !== 'Light-Mode' }">
        <button (click)="showDropDown = !showDropDown">
            {{regionName}}
            <i [ngClass]="'fas fa-angle-down'"></i>
        </button>
        <div [ngClass]="'DropDownList'" *ngIf="showDropDown">
            <ul>
                <li *ngFor="let region of searchByRegion" (click)="filterCountryByRegion(region)">{{region.name}}</li>
            </ul>
        </div>
    </div>
</div>