<div [ngClass]="{'SearchNFilter': true, 'Light-Mode': theme === 'Light-Mode', 'Dark-Mode': theme !== 'Light-Mode'}">
    <div [ngClass]="'Search'">
        <i [ngClass]="'fas fa-search'"></i>
        <input type="text" [ngClass]="{'SearchInput': true}" #searchInput [(ngModel)]="searchedCountryInput" placeholder="Search for a country..." (input)="search(searchInput.value)">
        <div [ngClass]="'SearchedCountries'" *ngIf="showSearchedCountries">
            <ul>
                <li *ngFor="let country of countries$ | async" (click)="onCountrySelect(country.name)">
                    {{country.name}}
                </li>
            </ul>
        </div>
    </div>
    <div [ngClass]="{'DropDown': true, 'Light-Mode': theme === 'Light-Mode', 'Dark-Mode': theme !== 'Light-Mode' }">
        <button (click)="showDropDown = !showDropDown">
            {{regionName}}
            <i [ngClass]="'fas fa-angle-down'"></i>
        </button>
        <div [ngClass]="'DropDownList'" *ngIf="showDropDown">
            <ul>
                <li *ngFor="let region of searchByRegion" (click)="filterCountryByRegion(region)">{{region.name}}</li>
            </ul>
        </div>
    </div>
</div>

<div [ngClass]="'AllCountries'">
    <div *ngFor="let country of countries" [ngClass]="theme === 'Light-Mode' ? 'CountrySummary': 'CountrySummary Dark-Mode'" (click)="onCountrySelect(country.name)">
        <img src={{country.flag}} alt="Country Flag" />
        <div class="Summary">
            <h4>{{country.name}}</h4>
            <div>
                <p> <strong>Population:</strong>&nbsp; {{country.population}} </p>
                <p> <strong>Region:</strong>&nbsp; {{country.region}} </p>
                <p> <strong>Capital:</strong>&nbsp; {{country.capital}} </p>
            </div>
        </div>
    </div>
</div>